size-trend {
  .drawCodebox {
    height: auto;
    overflow: hidden;
    width: 100%;
    position: relative;
    left: 0;
    font-size: 12px;
  }

  .sizezs {
    background: #fff;
  }

  .sizezs .dingweizsbgcls {
    height: 8px;
    background: #f0eff5;
    width: 100%;
    display: none;
  }

  .sizezs .daxiaopl {
    background: #fff;
    height: 45px;
    line-height: 45px;
    display: inherit;
  }

  .sizezs .daxiaopl .daxiaogeshu_noe {
    display: inline-block;
    width: 100px;
    height:  23px;
    vertical-align: middle;
    line-height:  20px;
    text-align: center;
    float: left;
    margin-left: 15%;
    margin-top: 9px;
    padding-top: 3px;
  }

  .sizezs .daxiaopl .daxiaogeshu_noe.checkspan {
    background: #e12121;
    color: #fff;
    border-radius:  21px;
  }

  .sizezs .daxiaopl .daxiaobi_top {
    display: inline-block;
    vertical-align: middle;
    line-height:  21px;
    text-align: center;
    float: right;
    margin-right: 15%;
    width: 100px;
    height:  23px;
    margin-top: 9px;
    padding-top: 3px;
  }

  .sizezs .daxiaopl .daxiaobi_top.checkspan {
    background: #e12121;
    color: #fff;
    border-radius:  21px;
  }

  .sizezs .divtitile_noe {
    overflow: hidden;
    width: 100%;
    background: #fff;
  }

  .sizezs .divtitile_noe p {
    display: flex;
    margin-left:  10px;
    border: 1px solid #e12121;
    height:  30px;
    line-height:  30px;
    border-radius:  30px;
    margin:  5px  10px;
    width: 62%;
    float: left;
  }

  .sizezs .divtitile_noe p .yixuan {
    border-left: 1px solid #e12121;
  }

  .sizezs .divtitile_noe p span {
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    color: #e12121;
    flex: 1;
    margin-right:  20px;
    text-align: center;
  }

  .sizezs .divtitile_noe p span:after {
    content: "";
    height:  15px;
    width:  15px;
    position: absolute;
    top:  9px;
    display: inline-block;
    margin-left:  7px;
    background: url(../../assets/imgs/px10obj.png) -17px 0 no-repeat;
    background-size: 37px;
  }

  .sizezs .divtitile_noe p span.weai {
    width: 95px;
  }

  .sizezs .divtitile_noe p span.tiaojian {
    width: 82.5px;
    border: 0;
  }

  .sizezs .divtitile_noe .lookshjtjda {
    display: inline;
    line-height:  40px;
    color: #333;
    float: right;
    margin-right:  10px;
  }

  .sizezs .daxiaoBox,.sizezs .daxiaoBoxtop {
    position: relative;
  }

  .sizezs .daxiaoBox table,.sizezs .daxiaoBoxtop table {
    display: table;
    width: 100%;
    background: #e5e5e5;
    text-align: center;
  }

  .sizezs .daxiaoBox table thead th,.sizezs .daxiaoBoxtop table thead th {
    height:  33px;
    line-height:  33px;
    background: #f0f0f0;
    text-align: center;
    color: #666!important;
  }

  .sizezs .daxiaoBox table thead .qiyu_app,.sizezs .daxiaoBoxtop table thead .qiyu_app {
    width: 10%;
    padding: 0  5px;
  }

  .sizezs .daxiaoBox table thead .qiyu_arr,.sizezs .daxiaoBoxtop table thead .qiyu_arr {
    width: 12%;
    padding: 0 8px;
  }

  .sizezs .daxiaoBox table thead .daxiao_arr,.sizezs .daxiaoBoxtop table thead .daxiao_arr {
    width: 7%;
    padding: 0 8px;
  }

  .sizezs .daxiaoBox table .toplek,.sizezs .daxiaoBoxtop table .toplek {
    height:  25px;
    background: #f1f1f1;
    color: #7e7e7e;
  }

  .sizezs .daxiaoBox table .toplek th,.sizezs .daxiaoBoxtop table .toplek th {
    text-align: center;
  }

  .sizezs .daxiaoBox table tbody,.sizezs .daxiaoBoxtop table tbody {
    font-size: 11px;
    color: #909090;
  }

  .sizezs .daxiaoBox table tbody .one,.sizezs .daxiaoBoxtop table tbody .one {
    font-zise: 13px;
    background: #00baff;
  }

  .sizezs .daxiaoBox table tbody .top,.sizezs .daxiaoBoxtop table tbody .top {
    font-zise: 13px;
    background: #fcb103;
  }

  .sizezs .daxiaoBox table tbody .plo,.sizezs .daxiaoBoxtop table tbody .plo {
    height:  25px;
    background: #f0f0f0;
  }

  .sizezs .daxiaoBox table tbody .plo th,.sizezs .daxiaoBoxtop table tbody .plo th {
    text-align: center;
  }

  .sizezs .daxiaoBox table tbody tr.line_wzzs,.sizezs .daxiaoBoxtop table tbody tr.line_wzzs {
    height: 0;
    border-bottom: 2px solid #d6d6d6;
  }

  .sizezs .daxiaoBox table tbody tr.line_wzzs td,.sizezs .daxiaoBoxtop table tbody tr.line_wzzs td {
    height: 0;
  }

  .sizezs .daxiaoBox table tbody tr.clospan td,.sizezs .daxiaoBoxtop table tbody tr.clospan td {
    background: #f0f0f0;
    font-size:  14px;
    color: #333;
  }

  .sizezs .daxiaoBox table tbody tr td,.sizezs .daxiaoBoxtop table tbody tr td {
    text-align: center;
    height:  30px;
    background: #fff;
  }

  .sizezs .daxiaoBox table tbody tr td span,.sizezs .daxiaoBoxtop table tbody tr td span {
    white-space: nowrap;
  }

  .sizezs .daxiaoBox table tbody tr td.numeven span,.sizezs .daxiaoBox table tbody tr td.numodd span,.sizezs .daxiaoBoxtop table tbody tr td.numeven span,.sizezs .daxiaoBoxtop table tbody tr td.numodd span {
    display: inline-block;
    height:  20px;
    line-height:  20px;
    width:  20px;
    border-radius: 50%;
    color: #fff;
    background: #e12121;
  }

  .sizezs .daxiaoBox table tbody tr td.numodd span,.sizezs .daxiaoBoxtop table tbody tr td.numodd span {
    background: #3cb0ec;
  }

  .sizezs .daxiaoBox table tbody tr td.tabred .yanse,.sizezs .daxiaoBoxtop table tbody tr td.tabred .yanse {
    color: #999;
    font-weight: 400;
  }

  .sizezs .daxiaoBox table tbody tr td.hot span,.sizezs .daxiaoBoxtop table tbody tr td.hot span {
    display: inline-block;
    height:  16px;
    line-height:  16px;
    width:  16px;
    background: #50befa;
    color: #fff;
    border-radius: 50%;
  }

  .sizezs .daxiaoBox table tbody tr td.pol span,.sizezs .daxiaoBoxtop table tbody tr td.pol span {
    display: inline-block;
    height:  16px;
    line-height:  16px;
    width:  16px;
    background: #ee9a00;
    color: #fff;
    border-radius: 50%;
  }

  .sizezs .daxiaoBox table tbody tr td.fancongcls,.sizezs .daxiaoBoxtop table tbody tr td.fancongcls {
    background: #9595c5!important;
  }

  .sizezs .daxiaoBox table tbody tr td.fancongcls span,.sizezs .daxiaoBoxtop table tbody tr td.fancongcls span {
    color: #fff;
  }

  .sizezs .daxiaoBox table tbody tr td i,.sizezs .daxiaoBoxtop table tbody tr td i {
    position: absolute;
    display: none;
    width: 12px;
    height: 12px;
    z-index: 1;
    font-size: 10px;
    border-radius: 13px;
    line-height: 12px;
    margin-top: - 7px;
  }

  .sizezs .daxiaoBox table tbody tr td .smallQiu,.sizezs .daxiaoBoxtop table tbody tr td .smallQiu {
    background-color: red;
    display: inline-block;
    color: #fff;
  }

  .sizezs .daxiaoBox table tbody tr td.da,.sizezs .daxiaoBoxtop table tbody tr td.da {
    background: #fdf7ed;
  }

  td,th{
    border:1px solid #eaeaea;
  }
  .select-page {
    left: 0;
    top: 12px;
    position: absolute;
    z-index: 1000;
    display: block;
    width: 100%;
    height: 100%;
    contain: strict;
  }

  .main-wrapper {
    height: 260px;
    border-top: 0.55px solid #dedede;
    background: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 10;
    margin: auto;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
  }

  .tool-bar {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 44px;
    background: #fff;
    z-index: 1;
    width: 100%;
    contain: strict;
  }

  .option-md {
    padding: 15px;
    height: 44px;
    font-size: 14px;
    color: red;
  }

  .main-content {
    display: flex;
    overflow: hidden;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: scroll;
    height: auto;
    max-height: 200px;
  }

  .main-content ul {
    overflow: scroll;
    overflow-x: hidden;
  }

  .main-content ul li {
    text-align: center;
    font-size: 16px;
    line-height: 42px;
  }

  .main-content ul li.checked {
    color: red;
  }

  .marginTop li {
    text-align: center;
    float: left;
    width: 22%;
    height: 30px;
    font-size: 14px!important;
    line-height: 30px!important;
    margin-right: 2%;
    border: 1px solid #e4e3e8;
    margin-bottom: 20px;
    border-radius: 3px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  ul li.check_tj {
    border-color: #e12121;
    color: #e12121;
    position: relative;
  }

  ul li.check_tj:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    right: 0;
    margin-left: -8px;
    width: 16px;
    height: 16px;
    background: url(../../assets/imgs/icon-168index.png) 0 -25px no-repeat;
    background-size: 333px;
  }
}
