<!--
  Generated template for the ItemDetail_09Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
  体彩排列5
-->
<ion-header>
  <div class="myHeader">
    <div class="header_back" navPop></div>
    <h2 *ngIf="showType==-1" (click)="showType=1"><span tappable="">{{name}} <i class="top_arrow"></i></span></h2>
    <h2 *ngIf="showType==1" (click)="showType=-1"><span tappable="">所有彩种 <i class="bottom_arrow"></i></span></h2>
  </div>
</ion-header>


<ion-content>

  <div  (touchstart)="first($event)" (touchend)="last($event)" class="body-box">
    <div class="current-date">
      <div style="width: 70%;height:30px;overflow: scroll;">
        <ul class="dayList date-list"  (touchstart)="ulScroll($event)" (touchend)="ulScroll($event)">
          <li *ngFor="let t of dayArr;" [ngClass]="{day_choosed:myDate==t.date}" (click)="myDate=t.date;">{{t.d}}</li>
        </ul>
      </div>
      <ion-item style="padding-left: 0;">
        <ion-label style="margin-top: 6px;"><span class="check_day" id="myDate">{{myDate}}</span></ion-label>
        <ion-datetime displayFormat="YYYY年 MM月 DD日 " min="{{startDay}}" max="{{today}}" [(ngModel)]="myDate" cancelText="取消"
                      doneText="确认">
        </ion-datetime>
      </ion-item>

    </div>
    <div class="current-info">
      <div class="divline issuel">
        <span class="issue"><span class="preDrawIssue">{{current_number}}</span>期开奖</span>
        <span class="drawCount">已开<span class="drawCountnum">{{aboutList?.open_num}}</span>期，剩余<span
          class="sdrawCountnext">{{aboutList?.still_num}}</span>期</span>
        <span id="explainBtn_wfsm" class="displaynone"></span>
      </div>
      <div class="divline drawCodel">
        <ul id="pk10num" class="sscli" *ngIf="aboutList?.current_code && aboutList?.current_code?.length>0">
          <li *ngFor="let ccode of aboutList?.current_code;" style="background-color: red;padding-top: 0; line-height: 25px;">{{ccode}}</li>
        </ul>
      </div>
      <!--<div class="divline drawCodel tiger">-->
      <!--<ul class="pk10li longhu">-->
      <!--<li class="li_after">龙</li>-->
      <!--<li class="verline li_after" style="margin-top: 2px">|</li>-->
      <!--<li class="guanyahe li_after">总和：</li>-->
      <!--<li class="guanyaheli li_after" style="margin-top: 2px">30</li>-->
      <!--<li class="guanyaheli li_after">双</li>-->
      <!--<li class="guanyaheli li_after" style="margin-right:0">大</li>-->
      <!--</ul>-->
      <!--</div>-->
      <div class="divline drawTimebox cuttime margbt8" *ngIf="allSeconds>0" style="display: -webkit-box; opacity: 1; margin-right: 100%;">
        <div class="flexl margtp78">距下期开奖仅有</div>
        <input type="hidden" class="nextIssue" value="718581">
        <div class="flexc margtp78">
          <div class="graypro"></div>
          <div id="redLine" class="redpro" style="width: 95%;"></div>
        </div>
        <div class="flexr margtp78">
          <span class="hourid" *ngIf="hour>0"><span class="bgtime hour">{{hour}}</span>:</span><span
          class="bgtime minute">{{minute}}</span>:<span class="bgtime second">{{second}}</span>
        </div>
      </div>
      <div class="divline drawTimebox opentyle " *ngIf="allSeconds<=0">
        <div class="flexl">开奖中...</div>
      </div>
    </div>


    <div class="options">
      <!--<div class="tabs-all">-->
      <!--<div class="tab-item current" tappable="">-->
      <!--<span class="name">常用</span>-->
      <!--</div>-->
      <!--<div class="tab-item " tappable="">-->
      <!--<span class="name">全部</span>-->
      <!--</div>-->
      <!--<div class="tab-item " tappable="">-->
      <!--<span class="name">走势</span>-->
      <!--</div>-->
      <!--<div class="tab-item " tappable="">-->
      <!--<span class="name">路珠</span>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="options-list" *ngIf="sortList">-->
      <!--<span [ngClass]="{current:currentSort==item?.type}" *ngFor="let item of sortList;" (click)="currentSort=item?.type">{{item?.name}}</span>-->
      <!--</div>-->
      <div class="options-list">
       <ul id="sortList" class="sort-list" (touchstart)="ulScroll($event)" (touchend)="ulScroll($event)">
          <li >
            <span [ngClass]="{current:currentSort=='jskj'}" (click)="currentSort='jskj'">开奖号码</span>
          </li>
        </ul>
        <!--<span [ngClass]="{current:currentSort=='jskj'}" (click)="currentSort='jskj'">开奖号码</span>-->
        <!--<span [ngClass]="{current:currentSort=='mrcltj'}" (click)="currentSort='mrcltj'">长龙统计</span>-->
      </div>
    </div>
    <!--开奖号码-->
    <div class="data-table">
      <win-number *ngIf="currentSort=='jskj'" [code]="code" [date]="myDate" [current_number]="current_number"></win-number>
    </div>

  </div>




  <!--彩种列表框-->
  <div id="cZList" style=" height: 100%;" *ngIf="showType==1 && sortArr && sortArr?.length>0">
    <!--<div class="backbtn"><span>返回</span><span>所有彩种</span><span>&nbsp;</span></div>-->
    <div class="toRMC" id="toRMC" *ngFor="let item of sortArr;">
      <div class="title">{{item?.name}}</div>
      <div class="content" *ngIf="item?.list && item?.list?.length>0">
        <ul>
          <li *ngFor="let it of item?.list;" (click)="toDestination(it,item?.key);"><span>{{it.name}}</span></li>
        </ul>
      </div>
    </div>
  </div>
</ion-content>

