page-about-kinds {
  .right_arrow {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../../../assets/imgs/sprite.png) 0 0 no-repeat;
    background-size: 220px 147px;
    background-position: -199px -53px;
    vertical-align: middle;
    float: right;
  }
}
