guanya-sm-history {

  .gyhlmlishi #gyhlmlsBox table{
    display: table;
    width: 100%;
    background: #e5e5e5;
    text-align: center;
  }

  .gyhlmlishi #gyhlmlsBox table thead th {
    height: 33px;
    line-height: 33px;
    background: #f0f0f0;
    text-align: center;
    color: #666!important;
    border:1px solid #eaeaea;
  }
  .gyhlmlishi #gyhlmlsBox table tbody td {
    background: #fff;
    color: #666!important;
    border:1px solid #eaeaea;
  }
}
